<link rel="stylesheet" href="/style.css">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!-- Forked from a template on Tutorialzine: https://tutorialzine.com/2016/06/freebie-landing-page-template-with-flexbox -->
  <header>
    <h2>Hello!</h2>
    <nav>
      <li><a href="/v1/home">Home</a></li>
    </nav>
  </header>

  <section class="hero">
    <div class="background-image"></div>
    <div class="hero-content-area">
      <a href="#" class="btn">Let learn some coding!</a>
    </div>
  </section>

  <section class="destinations">
    <h3 class="title">Let learn some coding!:</h3>
    <p></p>Ad rerum minima et quaerat totam qui sint quisquam hic natus incidunt cum tempora iure ut nisi perferendis cum quas consequuntur. Et natus dignissimos ut ducimus optio sed porro tenetur et nobis repudiandae hic laborum quis nam earum similique. Et enim placeat At aspernatur reiciendis eos perspiciatis quia est sapiente ipsum hic reprehenderit consequatur. Id nostrum eaque ea sapiente exercitationem aut praesentium amet aut libero porro quo placeat dolorem et ipsa fugit.
    <hr>

    <ul class="grid">
      <li class="small image-1"></li>
      <li class="large image-2"></li>
      <li class="large image-3"></li>
      <li class="small image-4"></li>
    </ul>
  </section>

  <section class="packages">
    <h3 class="title">Qui galisum inventore et illum velit vel eveniet quod</h3>
    <p>Et neque amet sed doloremque quidem 33 voluptas quisquam ab reiciendis tenetur et quam explicabo eos eius quibusdam in expedita velit? Eum enim necessitatibus a quam commodi qui vitae corrupti. Et molestiae rem nulla debitis et omnis rerum.</p>
    <hr>

    <ul class="grid">
      <li>
        <i class="fa fa-compass fa-4x"></i>
        <h4>Sed quisquam.</h4>
        <p>Rem libero totam et nihil sint sed consectetur expedita ea eaque harum aut harum internos. Aut quae velit in officia mollitia quo laborum obcaecati est porro deleniti non harum velit!</p>
      </li>
      <li>
        <i class="fa fa-camera-retro fa-4x"></i>
        <h4>Sed quisquam.</h4>
        <p>Rem libero totam et nihil sint sed consectetur expedita ea eaque harum aut harum internos. Aut quae velit in officia mollitia quo laborum obcaecati est porro deleniti non harum velit!</p>
      </li>
      <li>
        <i class="fa fa-bicycle fa-4x"></i>
        <h4>Sed quisquam.</h4>
        <p>Rem libero totam et nihil sint sed consectetur expedita ea eaque harum aut harum internos. Aut quae velit in officia mollitia quo laborum obcaecati est porro deleniti non harum velit!</p>
      </li>
      <li>
        <i class="fa fa-flag-checkered fa-4x"></i>
        <h4>Sed quisquam.</h4>
        <p>Rem libero totam et nihil sint sed consectetur expedita ea eaque harum aut harum internos. Aut quae velit in officia mollitia quo laborum obcaecati est porro deleniti non harum velit!</p>
      </li>
    </ul>
  </section>

  <section class="testimonials">
    <h3 class="title">Reviews:</h3>
    <hr>
    <p class="quote">Wow! Ut quis nisi id temporibus iure quo modi tempora et molestiae fugit ut eaque possimus quo impedit saepe sed nulla optio.</p>
    <p class="author">- Albert Herter</p>
    <p class="quote">Wow, Qui ratione doloremque cum vitae eveniet vel voluptatem.</p>
    <p class="author">- Sharon Rosenberg</p>
    <p class="quote">Qui voluptas amet vel dignissimos architecto ad fugiat molestias et asperiores tenetur et vero magni et aliquam dignissimos et similique iusto.</p>
    <p class="author">- Luis Mendoza</p>
  </section>
  <footer>
    <p>Why are you even reading this?! There's never anything interesting in the footer!</p>
    <ul>
      <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
      <li><a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a></li>
    </ul>
  </footer>
